name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Deploy to server
        uses: appleboy/scp-action@master
        with:
          host: 192.168.88.40
          username: nikitakiselev
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "."
          target: "~/infra/services/quotes"
          strip_components: 0
      
      - name: Execute deployment commands
        uses: appleboy/ssh-action@master
        with:
          host: 192.168.88.40
          username: nikitakiselev
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/infra/services/quotes
            docker-compose down
            docker-compose build --no-cache
            docker-compose up -d
            docker-compose logs --tail=50
